<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row justify-content-center"> <!-- Adicionado justify-content-center -->
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Login</h1>
            <p class="text-center lead">Olá <%=user.email %></p>

            <%- include('includes/messages') %>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('includes/footer') %>
